{{- if not .Values.insecureDemo }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "mprd.fullname" . }}-secrets
  labels:
    {{- include "mprd.labels" . | nindent 4 }}
type: Opaque
stringData:
  MPRD_REGISTRY_KEY_HEX: {{ required "secrets.registryKeyHex is required" .Values.secrets.registryKeyHex | quote }}
  MPRD_TOKEN_SIGNING_KEY_HEX: {{ required "secrets.tokenSigningKeyHex is required" .Values.secrets.tokenSigningKeyHex | quote }}
  MPRD_MANIFEST_KEY_HEX: {{ default .Values.secrets.registryKeyHex .Values.secrets.manifestKeyHex | quote }}
{{- end }}
